@import url(https://fonts.googleapis.com/css?family=Merriweather:300,300italic,400|Merriweather+Sans:700,400italic,300,400);
/* line 5, ../../../../../../usr/local/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../usr/local/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../usr/local/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../usr/local/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../usr/local/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../usr/local/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../usr/local/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../usr/local/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../usr/local/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*$breakpoint-between-phone-and-tablet: 0px 768px;
$breakpoint-between-tablet-portrait-and-landscape: 481px 768px;
$breakpoint-between-tablet-and-desktop: 769px 1025px;*/
/* line 1, ../sass/base/_typography.scss */
body {
  font-family: "Merriweather", Georgia, Times, "Times New Roman", serif;
  font-weight: 300;
}

/* line 6, ../sass/base/_typography.scss */
h1 {
  padding: .75em 0 .5em 0;
}
/* line 7, ../sass/base/_typography.scss */
.front h1 {
  font-size: 24px;
  font-size: 1.5rem;
}

/* line 13, ../sass/base/_typography.scss */
h2 {
  color: #660066;
  padding: .75em 0 .5em 0;
  font-size: 24px;
  font-size: 1.5rem;
}

/* line 17, ../sass/base/_typography.scss */
h3 {
  font-size: 20px;
  font-size: 1.25rem;
  padding: .75em 0 .5em 0;
  color: #660066;
}

/* line 23, ../sass/base/_typography.scss */
h4 {
  font-size: 18px;
  font-size: 1.125rem;
  padding: .75em 0 .5em 0;
  color: #660066;
}

/* line 21, ../../../../../../usr/local/lib/ruby/gems/2.5.0/gems/susy-2.2.12/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 25, ../sass/base/_base.scss */
em {
  font-style: italic;
}

/* line 29, ../sass/base/_base.scss */
strong {
  font-weight: 600;
}

/* line 33, ../sass/base/_base.scss */
ul.menu li {
  margin: 0;
}

/* line 37, ../sass/base/_base.scss */
ul li.leaf {
  list-style: none;
}


/* line 5, ../sass/blocks/_search.scss */
.block-search-api-page h2 {
  margin-top: 0;
  padding-top: 6px;
}
/* line 9, ../sass/blocks/_search.scss */
.block-search-api-page .content {
  border: 1px solid #78834c;
  background-color: #98a660;
  position: relative;
  padding: 1em;
}
/* line 15, ../sass/blocks/_search.scss */
.block-search-api-page .content .description {
  margin-top: 1rem;
  color: #fff;
}
/* line 20, ../sass/blocks/_search.scss */
.block-search-api-page .content .form-text {
  border: 1px solid #666;
  color: #666;
  background-color: #fff;
  height: 20px;
  width: 75%;
}
/* line 28, ../sass/blocks/_search.scss */
.block-search-api-page .content .form-submit {
  position: absolute;
  right: 1.5em;
  top: 1.75em;
  text-transform: uppercase;
  border: 1px solid #666;
  color: #666;
  background-color: #fff;
}
/* line 40, ../sass/blocks/_search.scss */
.block-search-api-page .form-item {
  margin-top: 0;
}

@media (min-width: 1025px) {
  /* line 46, ../sass/blocks/_search.scss */
  .page-node-39 #block-search-api-page-newsletter-search {
    max-width: 398px;
    width: 398px;
    float: right;
  }
}

/* line 56, ../sass/blocks/_search.scss */
.page-publications-newsletter .region-content {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../usr/local/lib/ruby/gems/2.5.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
.page-publications-newsletter .region-content:after {
  content: " ";
  display: block;
  clear: both;
}
@media (min-width: 1025px) {
  /* line 60, ../sass/blocks/_search.scss */
  .page-publications-newsletter #block-system-main {
    width: 68.42105%;
    float: left;
    margin-right: 5.26316%;
  }
}
/* line 66, ../sass/blocks/_search.scss */
.page-publications-newsletter #block-search-api-page-newsletter-search {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}
@media (min-width: 1025px) {
  /* line 66, ../sass/blocks/_search.scss */
  .page-publications-newsletter #block-search-api-page-newsletter-search {
    width: 26.31579%;
    float: right;
    margin-right: 0;
  }
}

/* line 1, ../sass/layout/_container.scss */
body {
  background: url("images/site-bg-inner.jpg");
}
/* line 5, ../sass/layout/_container.scss */
body.front {
  background: url("images/site-bg.jpg") center center no-repeat;
  background-size: cover;
}

/* The entire container. */
/* line 12, ../sass/layout/_container.scss */
#page {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  -moz-box-shadow: #d9bfd9 0 0 30px;
  -webkit-box-shadow: #d9bfd9 0 0 30px;
  box-shadow: #d9bfd9 0 0 30px;
  margin-bottom: 2em;
}
/* line 12, ../../../../../../usr/local/lib/ruby/gems/2.5.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
#page:after {
  content: " ";
  display: block;
  clear: both;
}

/* Main wrapper. */
/* line 24, ../sass/layout/_container.scss */
#main {
  background: #fff;
  padding: 1.5em 3%;
}
/* line 7, ../sass/utils/_mixins.scss */
#main:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 481px) {
  /* line 24, ../sass/layout/_container.scss */
  #main {
    padding: 1.5em 2em;
  }
}

@media (min-width: 769px) {
  /* line 34, ../sass/layout/_container.scss */
  .page-content {
    width: 82.85714%;
    float: right;
    margin-right: 0;
  }
}
/* line 42, ../sass/layout/_container.scss */
.front .page-content, .no-sidebars .page-content {
  width: auto;
  float: none;
  margin-right: 0;
}

/* Sidebars. */
/* line 51, ../sass/layout/_container.scss */
#sidebar-first {
  display: none;
}
@media (min-width: 769px) {
  /* line 51, ../sass/layout/_container.scss */
  #sidebar-first {
    display: block;
    width: 14.28571%;
    float: left;
    margin-right: 2.85714%;
  }
}

/* Inner sections. */
@media (min-width: 769px) {
  /* line 65, ../sass/layout/_container.scss */
  .front .region-content-inner-first {
    width: 47.82609%;
    float: left;
    margin-right: 4.34783%;
  }
}

@media (min-width: 481px) {
  /* line 74, ../sass/layout/_container.scss */
  .front .region-content-inner-second-sub {
    padding-top: 2em;
    width: 30.43478%;
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 769px) {
  /* line 74, ../sass/layout/_container.scss */
  .front .region-content-inner-second-sub {
    padding-top: 0;
    width: auto;
    float: none;
    margin: 0;
  }
}

@media (min-width: 769px) {
  /* line 91, ../sass/layout/_container.scss */
  .front .region-inner-second-container {
    width: 47.82609%;
    float: right;
    margin-right: 0;
  }
  /* line 7, ../sass/utils/_mixins.scss */
  .front .region-inner-second-container:after {
    content: "";
    display: table;
    clear: both;
  }
}

/* line 1, ../sass/layout/_header.scss */
#header {
  background: rgba(255, 255, 255, 0.25);
  padding: 2%;
  overflow: auto;
  /* Display for the menu header appendaround initial container */
  /* Display for the menu header appendaround potential container */
}
@media (min-width: 481px) {
  /* line 1, ../sass/layout/_header.scss */
  #header {
    padding: .5em .75em;
  }
}
/* line 12, ../sass/layout/_header.scss */
#header .initial-container {
  display: none;
}
@media (min-width: 769px) {
  /* line 12, ../sass/layout/_header.scss */
  #header .initial-container {
    display: block;
  }
}
/* line 21, ../sass/layout/_header.scss */
#header .header-menu-container {
  display: none;
}
@media (min-width: 481px) {
  /* line 21, ../sass/layout/_header.scss */
  #header .header-menu-container {
    display: block;
    clear: both;
    float: right;
    font-family: "Merriweather Sans", Helvetica, Arial, sans-serif;
  }
  /* line 54, ../sass/utils/_mixins.scss */
  #header .header-menu-container li {
    float: left;
    border-right: solid 1px #666;
    padding: 0 .35em;
  }
  /* line 59, ../sass/utils/_mixins.scss */
  #header .header-menu-container li.last {
    border-right: 0;
    padding-right: 0;
  }
  /* line 65, ../sass/utils/_mixins.scss */
  #header .header-menu-container a, #header .header-menu-container .active {
    color: #666;
    font-size: 14px;
    font-size: 0.875rem;
    text-decoration: none;
  }
  /* line 70, ../sass/utils/_mixins.scss */
  #header .header-menu-container a:hover, #header .header-menu-container .active:hover {
    text-decoration: underline;
  }
}
@media (min-width: 769px) {
  /* line 21, ../sass/layout/_header.scss */
  #header .header-menu-container {
    display: none;
  }
}

/* Mean Menu */
/* line 41, ../sass/layout/_header.scss */
.mean-container .mean-bar {
  float: none;
  overflow: hidden;
  background: #98a660;
}

/* line 48, ../sass/layout/_header.scss */
.mean-container .mean-nav {
  background: #98a660;
  margin-top: 0;
}

/* line 53, ../sass/layout/_header.scss */
.mean-container .mean-nav ul li {
  list-style: none;
  margin: 0;
}

/* line 58, ../sass/layout/_header.scss */
.mean-container .mean-nav ul li a.mean-expand {
  padding: 4px !important;
}

/* line 62, ../sass/layout/_header.scss */
.mean-container .mean-nav ul li a.mean-expand:hover {
  background: #98a660;
}

/* line 66, ../sass/layout/_header.scss */
.mean-container a.meanmenu-reveal {
  text-indent: 0;
  font-size: 18px;
  position: static;
  width: auto;
}

/* line 73, ../sass/layout/_header.scss */
.mean-container a.meanmenu-reveal.meanclose {
  float: right;
}

/* line 77, ../sass/layout/_header.scss */
.menu-text {
  float: left;
  width: 60px;
  text-transform: uppercase;
}

/* line 83, ../sass/layout/_header.scss */
.mean-container .menu-stack {
  float: right;
  width: 22px;
  height: 22px;
}

/* Main header areas - logo and the header region. */
@media (min-width: 481px) {
  /* line 90, ../sass/layout/_header.scss */
  #logo {
    float: left;
    width: 60%;
  }
}
@media (min-width: 769px) {
  /* line 90, ../sass/layout/_header.scss */
  #logo {
    width: 50%;
  }
}
@media (min-width: 900px) {
  /* line 90, ../sass/layout/_header.scss */
  #logo {
    width: 40%;
  }
}
/* line 105, ../sass/layout/_header.scss */
#logo img {
  max-width: 100%;
  margin-bottom: 1em;
}
@media (min-width: 481px) {
  /* line 105, ../sass/layout/_header.scss */
  #logo img {
    margin-bottom: 0;
  }
}

/* line 115, ../sass/layout/_header.scss */
.region-header {
  margin-bottom: .5em;
  font-family: "Merriweather Sans", Helvetica, Arial, sans-serif;
}
/* line 7, ../sass/utils/_mixins.scss */
.region-header:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 481px) {
  /* line 115, ../sass/layout/_header.scss */
  .region-header {
    float: right;
    width: 40%;
  }
}
@media (min-width: 769px) {
  /* line 115, ../sass/layout/_header.scss */
  .region-header {
    width: 50%;
  }
}
@media (min-width: 900px) {
  /* line 115, ../sass/layout/_header.scss */
  .region-header {
    width: 60%;
  }
}

/* Menu header styles, for both general and social media. */
/* line 139, ../sass/layout/_header.scss */
.menu-header .content,
.menu-social-media .content {
  margin-bottom: 1.25em;
}
@media (min-width: 481px) {
  /* line 142, ../sass/layout/_header.scss */
  .menu-header .content ul,
  .menu-social-media .content ul {
    text-align: right;
  }
  /* line 7, ../sass/utils/_mixins.scss */
  .menu-header .content ul:after,
  .menu-social-media .content ul:after {
    content: "";
    display: table;
    clear: both;
  }
}
/* line 150, ../sass/layout/_header.scss */
.menu-header .content li,
.menu-social-media .content li {
  float: left;
  margin-right: 0;
}

/* General menu styles. */
/* line 159, ../sass/layout/_header.scss */
.menu-header {
  display: none;
}
@media (min-width: 481px) {
  /* line 159, ../sass/layout/_header.scss */
  .menu-header {
    display: block;
    float: right;
  }
}
/* line 54, ../sass/utils/_mixins.scss */
.menu-header li {
  float: left;
  border-right: solid 1px #666;
  padding: 0 .35em;
}
/* line 59, ../sass/utils/_mixins.scss */
.menu-header li.last {
  border-right: 0;
  padding-right: 0;
}
/* line 65, ../sass/utils/_mixins.scss */
.menu-header a, .menu-header .active {
  color: #666;
  font-size: 14px;
  font-size: 0.875rem;
  text-decoration: none;
}
/* line 70, ../sass/utils/_mixins.scss */
.menu-header a:hover, .menu-header .active:hover {
  text-decoration: underline;
}

/* Social media menu icon styles. */
/* line 173, ../sass/layout/_header.scss */
.menu-social-media {
  float: left;
  width: 50%;
}
@media (min-width: 481px) {
  /* line 173, ../sass/layout/_header.scss */
  .menu-social-media {
    float: right;
    width: auto;
    clear: both;
  }
}
/* line 184, ../sass/layout/_header.scss */
.menu-social-media li {
  padding: 0;
}

/* line 189, ../sass/layout/_header.scss */
.menu_icon {
  display: block;
  font-size: 0;
}

/* line 194, ../sass/layout/_header.scss */
.menu-square {
  width: 25px;
  height: 25px;
}

/* line 199, ../sass/layout/_header.scss */
.menu-rect {
  width: 72px;
  height: 25px;
}

/* Search form */
/* line 206, ../sass/layout/_header.scss */
.block-search,
#block-search-api-page-site-search {
  text-align: right;
  float: right;
  width: 50%;
}
@media (min-width: 481px) {
  /* line 206, ../sass/layout/_header.scss */
  .block-search,
  #block-search-api-page-site-search {
    width: auto;
    clear: both;
  }
}
/* line 218, ../sass/layout/_header.scss */
.block-search form,
#block-search-api-page-site-search form {
  float: right;
}
/* line 222, ../sass/layout/_header.scss */
.block-search .form-item,
.block-search .form-actions,
#block-search-api-page-site-search .form-item,
#block-search-api-page-site-search .form-actions {
  margin: 0;
  float: left;
}
/* line 228, ../sass/layout/_header.scss */
.block-search input[type="text"],
.block-search input[type="text"].form-text,
#block-search-api-page-site-search input[type="text"],
#block-search-api-page-site-search input[type="text"].form-text {
  border: solid 1px #ccc;
  padding: 3px;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  margin-right: 3px;
}
/* line 236, ../sass/layout/_header.scss */
.block-search .content,
#block-search-api-page-site-search .content {
  padding: 0;
  display: inline-block;
  background: none;
  border: none;
}
/* line 241, ../sass/layout/_header.scss */
.block-search .content .form-text,
#block-search-api-page-site-search .content .form-text {
  width: auto;
}
/* line 245, ../sass/layout/_header.scss */
.block-search .content .form-submit,
.block-search input[type="submit"],
#block-search-api-page-site-search .content .form-submit,
#block-search-api-page-site-search input[type="submit"] {
  background: #fff;
  border: solid 1px #ccc;
  padding: 3px;
  font-size: 11px;
  text-transform: none;
  position: static;
  display: inline;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
}

/* line 1, ../sass/layout/_banner.scss */
.view-homepage-banner {
  /* Flexslider styles */
}
/* line 4, ../sass/layout/_banner.scss */
.view-homepage-banner .flexslider {
  border: 0;
  margin: 0;
}
/* line 9, ../sass/layout/_banner.scss */
.view-homepage-banner .flex-control-paging {
  bottom: 0;
  z-index: 100;
  text-align: right;
}
/* line 14, ../sass/layout/_banner.scss */
.view-homepage-banner .flex-control-paging li {
  margin: 0 1px 0 0;
}
/* line 16, ../sass/layout/_banner.scss */
.view-homepage-banner .flex-control-paging li a {
  text-indent: 0;
  border-radius: 0;
  box-shadow: none;
  color: #fff;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 11px;
  font-size: 0.6875rem;
  background: rgba(0, 0, 0, 0.5);
}
/* line 28, ../sass/layout/_banner.scss */
.view-homepage-banner .flex-control-paging li a.flex-active {
  background: rgba(0, 0, 0, 0.2);
  color: #1a1a1a;
}

/* Banner content, such as the body and link text. */
/* line 38, ../sass/layout/_banner.scss */
.banner-content {
  position: absolute;
  z-index: 100;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  padding: 1em;
  width: 65%;
  text-align: center;
}
@media (min-width: 481px) {
  /* line 38, ../sass/layout/_banner.scss */
  .banner-content {
    left: 4%;
    width: 55%;
    padding: 1.25em;
  }
}
@media (min-width: 769px) {
  /* line 38, ../sass/layout/_banner.scss */
  .banner-content {
    width: 44%;
  }
}

/* line 59, ../sass/layout/_banner.scss */
.banner-body {
  font-size: 18px;
  font-size: 1.125rem;
  color: #fff;
  line-height: 1.1em;
}
@media (min-width: 481px) {
  /* line 59, ../sass/layout/_banner.scss */
  .banner-body {
    font-size: 24px;
    font-size: 1.5rem;
  }
}
@media (min-width: 769px) {
  /* line 59, ../sass/layout/_banner.scss */
  .banner-body {
    font-size: 30px;
    font-size: 1.875rem;
  }
}

/* line 74, ../sass/layout/_banner.scss */
.banner-link {
  font-size: 16px;
  font-size: 1rem;
  margin-top: .25em;
}
/* line 78, ../sass/layout/_banner.scss */
.banner-link a, .banner-link .active {
  color: #ccff33;
}
@media (min-width: 481px) {
  /* line 74, ../sass/layout/_banner.scss */
  .banner-link {
    font-size: 20px;
    font-size: 1.25rem;
  }
}
@media (min-width: 769px) {
  /* line 74, ../sass/layout/_banner.scss */
  .banner-link {
    font-size: 24px;
    font-size: 1.5rem;
  }
}

/* line 91, ../sass/layout/_banner.scss */
.inner-banner {
  position: relative;
}
/* line 93, ../sass/layout/_banner.scss */
.inner-banner h1 {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 18px;
  font-size: 1.125rem;
  color: #fff;
  line-height: 1.1em;
  background: rgba(0, 0, 0, 0.5);
  padding: .5em 1em;
  text-align: center;
}
@media (min-width: 481px) {
  /* line 93, ../sass/layout/_banner.scss */
  .inner-banner h1 {
    font-size: 24px;
    font-size: 1.5rem;
    right: 3%;
  }
}
@media (min-width: 769px) {
  /* line 93, ../sass/layout/_banner.scss */
  .inner-banner h1 {
    font-size: 30px;
    font-size: 1.875rem;
  }
}
/* line 116, ../sass/layout/_banner.scss */
.inner-banner img {
  display: block;
  max-width: 100%;
}

/* line 1, ../sass/layout/_navigation.scss */
.region-navigation {
  /* Second level nav styles - bold */
  /* Megamenus with one column */
  /* Megamenus with two columns */
  /* Megamenus with three columns */
  /* Override superfish css */
}
/* line 2, ../sass/layout/_navigation.scss */
.region-navigation .sf-menu {
  background: #98a660;
  /* First level nav - navigation bar */
}
/* line 6, ../sass/layout/_navigation.scss */
.region-navigation .sf-menu ul {
  width: auto;
  -moz-box-shadow: 1px 1px 4px #666;
  -webkit-box-shadow: 1px 1px 4px #666;
  box-shadow: 1px 1px 4px #666;
}
/* line 12, ../sass/layout/_navigation.scss */
.region-navigation .sf-menu li {
  display: inline-block;
  float: none;
  /* First level nav link styles */
  /* Second level nav - columns with bold link title */
}
/* line 18, ../sass/layout/_navigation.scss */
.region-navigation .sf-menu li:hover > a {
  background: #78834c;
}
/* line 22, ../sass/layout/_navigation.scss */
.region-navigation .sf-menu li:hover li a {
  background: transparent;
}
/* line 28, ../sass/layout/_navigation.scss */
.region-navigation .sf-menu li a, .region-navigation .sf-menu li .active {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  font-size: 0.875rem;
  display: block;
  padding: .75em;
}
@media (min-width: 940px) {
  /* line 28, ../sass/layout/_navigation.scss */
  .region-navigation .sf-menu li a, .region-navigation .sf-menu li .active {
    padding: .75em 1em;
    font-size: 16px;
    font-size: 1rem;
  }
}
@media (min-width: 1070px) {
  /* line 28, ../sass/layout/_navigation.scss */
  .region-navigation .sf-menu li a, .region-navigation .sf-menu li .active {
    padding: .75em 1.25em;
  }
}
/* line 44, ../sass/layout/_navigation.scss */
.region-navigation .sf-menu li a:hover, .region-navigation .sf-menu li .active:hover {
  background: #78834c;
}
/* line 49, ../sass/layout/_navigation.scss */
.region-navigation .sf-menu li.last {
  padding: 0;
}
/* line 54, ../sass/layout/_navigation.scss */
.region-navigation .sf-menu li li {
  display: block;
  background: #fff;
  /* Third level nav - lists of links */
  /* Second level nav link styles */
}
/* line 58, ../sass/layout/_navigation.scss */
.region-navigation .sf-menu li li a, .region-navigation .sf-menu li li .active {
  padding: .75em 1em;
}
/* line 61, ../sass/layout/_navigation.scss */
.region-navigation .sf-menu li li a:hover, .region-navigation .sf-menu li li .active:hover {
  background: transparent;
}
/* line 67, ../sass/layout/_navigation.scss */
.region-navigation .sf-menu li li li {
  padding: 0;
  background: inherit;
}
/* line 71, ../sass/layout/_navigation.scss */
.region-navigation .sf-menu li li li a {
  padding: 0;
}
/* line 77, ../sass/layout/_navigation.scss */
.region-navigation .sf-menu li li a, .region-navigation .sf-menu li li .active {
  font-family: "Merriweather Sans", Helvetica, Arial, sans-serif;
  color: #666;
  font-size: 14px;
  font-size: 0.875rem;
  padding: 0;
}
/* line 83, ../sass/layout/_navigation.scss */
.region-navigation .sf-menu li li a:hover, .region-navigation .sf-menu li li .active:hover {
  text-decoration: underline;
}
/* line 92, ../sass/layout/_navigation.scss */
.region-navigation .sf-depth-1.active-trail {
  background: #660066;
}
/* line 95, ../sass/layout/_navigation.scss */
.region-navigation .sf-depth-1.active-trail .active-trail {
  background: #fff;
}
/* line 98, ../sass/layout/_navigation.scss */
.region-navigation .sf-depth-1.active-trail .active-trail .active-trail {
  background: transparent;
}
/* line 106, ../sass/layout/_navigation.scss */
.region-navigation .sf-depth-2 {
  font-weight: bold;
  text-transform: uppercase;
  /* But third level should display normally */
}
/* line 110, ../sass/layout/_navigation.scss */
.region-navigation .sf-depth-2 ol {
  background: transparent;
}
/* line 115, ../sass/layout/_navigation.scss */
.region-navigation .sf-depth-2 li {
  font-weight: normal;
  text-transform: none;
}
/* line 125, ../sass/layout/_navigation.scss */
.region-navigation .sf-depth-1.sf-parent-children-0 li,
.region-navigation .sf-depth-1.sf-parent-children-1 li {
  padding: .75em .5em .25em .5em;
}
/* line 129, ../sass/layout/_navigation.scss */
.region-navigation .sf-depth-1.sf-parent-children-0 li li,
.region-navigation .sf-depth-1.sf-parent-children-1 li li {
  padding: .25em 0 .25em .5em;
}
/* line 132, ../sass/layout/_navigation.scss */
.region-navigation .sf-depth-1.sf-parent-children-0 li li .sf-depth-2,
.region-navigation .sf-depth-1.sf-parent-children-1 li li .sf-depth-2 {
  font-weight: normal;
  text-transform: none;
  padding-bottom: .5em;
}
/* line 146, ../sass/layout/_navigation.scss */
.region-navigation .sf-depth-1.sf-parent-children-2 li li {
  display: table-cell;
  border-right: solid 1px #98a660;
}
/* line 150, ../sass/layout/_navigation.scss */
.region-navigation .sf-depth-1.sf-parent-children-2 li li.last {
  border-right: 0;
}
/* line 154, ../sass/layout/_navigation.scss */
.region-navigation .sf-depth-1.sf-parent-children-2 li li a {
  padding: .5em 0;
}
/* line 158, ../sass/layout/_navigation.scss */
.region-navigation .sf-depth-1.sf-parent-children-2 li li li {
  display: list-item;
  border-right: 0;
  padding: 0;
  float: none;
  width: auto;
}
/* line 165, ../sass/layout/_navigation.scss */
.region-navigation .sf-depth-1.sf-parent-children-2 li li li.last {
  padding-left: 0;
}
/* line 173, ../sass/layout/_navigation.scss */
.region-navigation .sf-megamenu-column {
  padding: .75em;
}
/* line 182, ../sass/layout/_navigation.scss */
.region-navigation .sf-depth-1.sf-parent-children-3 li li,
.region-navigation .sf-depth-1.sf-parent-children-4 li li {
  display: table-cell;
  border-right: solid 1px #98a660;
}
/* line 186, ../sass/layout/_navigation.scss */
.region-navigation .sf-depth-1.sf-parent-children-3 li li.last,
.region-navigation .sf-depth-1.sf-parent-children-4 li li.last {
  border-right: 0;
}
/* line 190, ../sass/layout/_navigation.scss */
.region-navigation .sf-depth-1.sf-parent-children-3 li li a,
.region-navigation .sf-depth-1.sf-parent-children-4 li li a {
  padding: .5em 0;
}
/* line 194, ../sass/layout/_navigation.scss */
.region-navigation .sf-depth-1.sf-parent-children-3 li li li,
.region-navigation .sf-depth-1.sf-parent-children-4 li li li {
  display: list-item;
  border-right: 0;
  padding-right: 0;
  width: auto;
  padding: 0;
}
/* line 201, ../sass/layout/_navigation.scss */
.region-navigation .sf-depth-1.sf-parent-children-3 li li li.middle, .region-navigation .sf-depth-1.sf-parent-children-3 li li li.last,
.region-navigation .sf-depth-1.sf-parent-children-4 li li li.middle,
.region-navigation .sf-depth-1.sf-parent-children-4 li li li.last {
  padding-left: 0;
}
/* line 211, ../sass/layout/_navigation.scss */
.region-navigation .sf-menu.sf-horizontal.sf-shadow ul,
.region-navigation .sf-menu.sf-vertical.sf-shadow ul,
.region-navigation .sf-menu.sf-navbar.sf-shadow ul ul {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomleft: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
}
/* line 222, ../sass/layout/_navigation.scss */
.region-navigation .sf-menu li:hover > ul,
.region-navigation .sf-menu li.sfHover > ul {
  left: 0;
  top: 2.2em;
}
@media (min-width: 940px) {
  /* line 222, ../sass/layout/_navigation.scss */
  .region-navigation .sf-menu li:hover > ul,
  .region-navigation .sf-menu li.sfHover > ul {
    top: 2.5em;
  }
}

/* line 1, ../sass/layout/_content.scss */
.page-content, .cke_editable {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5em;
  color: #666;
}
/* line 6, ../sass/layout/_content.scss */
.page-content .title, .cke_editable .title {
  color: #660066;
  padding: .75em 0 .5em 0;
  font-size: 24px;
  font-size: 1.5rem;
  padding: 0 0 .5em 0;
  margin-bottom: 1em;
  border-bottom: solid 5px #d1d7b7;
  font-size: 28px;
  font-size: 1.75rem;
}
/* line 14, ../sass/layout/_content.scss */
.page-content img, .cke_editable img {
  max-width: 100%;
}
/* line 18, ../sass/layout/_content.scss */
.page-content p, .cke_editable p {
  margin-bottom: 1em;
}
/* line 22, ../sass/layout/_content.scss */
.page-content ul, .cke_editable ul {
  list-style: disc;
  margin: 0 0 1em 1em;
}
/* line 27, ../sass/layout/_content.scss */
.page-content ol, .cke_editable ol {
  list-style: decimal;
  margin: 0 0 1em 1em;
}
/* line 32, ../sass/layout/_content.scss */
.page-content a, .cke_editable a {
  color: #bd5427;
  text-decoration: none;
}
/* line 36, ../sass/layout/_content.scss */
.page-content a:hover, .cke_editable a:hover {
  text-decoration: underline;
}

/* line 3, ../sass/layout/_pager.scss */
.item-list .pager {
  font-family: "Merriweather Sans", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-size: 0.8125rem;
  text-align: right;
}
/* line 8, ../sass/layout/_pager.scss */
.item-list .pager li {
  padding: 0;
  margin: 0;
  display: inline-block;
  border: solid 1px #999;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 15, ../sass/layout/_pager.scss */
.item-list .pager li:hover {
  background: #bd5427;
  color: #fff;
}
/* line 19, ../sass/layout/_pager.scss */
.item-list .pager li:hover > a {
  color: #fff;
}
/* line 24, ../sass/layout/_pager.scss */
.item-list .pager li a {
  font-weight: 600;
  padding: .25em .45em;
  text-align: center;
}
/* line 30, ../sass/layout/_pager.scss */
.item-list .pager li a:hover {
  text-decoration: none;
}
/* line 35, ../sass/layout/_pager.scss */
.item-list .pager li.pager-current {
  background: #bd5427;
  color: #fff;
  padding: 0 .45em;
}

/* line 1, ../sass/layout/_sidebar-first.scss */
.sidebar {
  font-family: "Merriweather Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
}
/* line 7, ../sass/layout/_sidebar-first.scss */
.sidebar .content li.leaf {
  padding: 0;
}
/* line 11, ../sass/layout/_sidebar-first.scss */
.sidebar .content ul li.collapsed {
  list-style: none;
  padding: 0;
}
/* line 16, ../sass/layout/_sidebar-first.scss */
.sidebar .content ul li.active-trail {
  list-style: none;
  padding: 0;
}
/* line 22, ../sass/layout/_sidebar-first.scss */
.sidebar .content ul li.active-trail .menu li.last {
  border-bottom: solid 1px #ccc;
}
/* line 26, ../sass/layout/_sidebar-first.scss */
.sidebar .content ul li.active-trail .menu li.expanded.active-trail {
  overflow: hidden;
}
/* line 29, ../sass/layout/_sidebar-first.scss */
.sidebar .content ul li.active-trail .menu li.expanded.active-trail:before {
  font-size: .8em;
  float: left;
  padding-top: .85em;
  margin-right: 5px;
}
@media (min-width: 930px) {
  /* line 29, ../sass/layout/_sidebar-first.scss */
  .sidebar .content ul li.active-trail .menu li.expanded.active-trail:before {
    font-size: .9em;
    padding-top: .75em;
  }
}
/* line 42, ../sass/layout/_sidebar-first.scss */
.sidebar .content ul li.active-trail .menu li.expanded.active-trail > a.active-trail {
  padding-left: 0;
  float: left;
  width: 80%;
  color: #666;
  font-weight: 300;
  margin-left: 1.2em;
}
/* line 50, ../sass/layout/_sidebar-first.scss */
.sidebar .content ul li.active-trail .menu li.expanded.active-trail > a.active-trail.active {
  color: #660066;
  font-weight: bold;
  margin-left: 0;
}
/* line 55, ../sass/layout/_sidebar-first.scss */
.sidebar .content ul li.active-trail .menu li.expanded.active-trail > a.active-trail.active:before {
  content: "\00BB \0020";
  font-size: .8em;
  float: left;
  color: #660066;
  font-weight: bold;
  margin-right: 5px;
  height: 20px;
  display: block;
}
/* line 71, ../sass/layout/_sidebar-first.scss */
.sidebar .content ul li.active-trail .menu li.active-trail:not(.expanded) {
  overflow: hidden;
}
/* line 74, ../sass/layout/_sidebar-first.scss */
.sidebar .content ul li.active-trail .menu li.active-trail:not(.expanded):before {
  content: "\00BB \0020";
  font-size: .8em;
  float: left;
  padding-top: .85em;
  color: #660066;
  font-weight: bold;
  margin-right: 5px;
}
/* line 85, ../sass/layout/_sidebar-first.scss */
.sidebar .content ul li.active-trail .menu a {
  padding-left: 1.2em;
  font-weight: 300;
  color: #666;
  border-bottom: 0;
}
/* line 91, ../sass/layout/_sidebar-first.scss */
.sidebar .content ul li.active-trail .menu a.active-trail {
  color: #660066;
  font-weight: bold;
  padding-left: 0;
  float: left;
  width: 80%;
}
/* line 102, ../sass/layout/_sidebar-first.scss */
.sidebar .content ul li.active-trail a {
  color: #660066;
  font-weight: bold;
}
/* line 108, ../sass/layout/_sidebar-first.scss */
.sidebar .content ul li.expanded {
  list-style: none;
}
/* line 111, ../sass/layout/_sidebar-first.scss */
.sidebar .content ul li.expanded .active-trail {
  border-bottom: 0;
}
/* line 116, ../sass/layout/_sidebar-first.scss */
.sidebar .content ul li.expanded.active-trail .menu {
  display: block;
}
/* line 119, ../sass/layout/_sidebar-first.scss */
.sidebar .content ul li.expanded.active-trail .menu .menu {
  clear: both;
  margin-left: 18px;
}
/* line 126, ../sass/layout/_sidebar-first.scss */
.sidebar .content ul li.expanded .menu {
  display: none;
}
/* line 131, ../sass/layout/_sidebar-first.scss */
.sidebar .content a {
  display: block;
  color: #666;
  padding: .75em 0 .75em .25em;
  text-decoration: none;
  border-bottom: solid 1px #ccc;
}

/* line 1, ../sass/layout/_footer.scss */
#footer {
  padding: 1.5em 3%;
  border-top: solid 1px #b380b3;
  font-size: 14px;
  font-size: 0.875rem;
  background: #fff url("images/footer-bg.png") bottom left no-repeat;
}
/* line 7, ../sass/utils/_mixins.scss */
#footer:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 481px) {
  /* line 1, ../sass/layout/_footer.scss */
  #footer {
    padding: 1.5em 2em;
  }
}

/* Address section of footer. */
/* line 14, ../sass/layout/_footer.scss */
.footer-address {
  font-family: "Merriweather", Georgia, Times, "Times New Roman", serif;
  line-height: 1.3em;
}
@media (min-width: 481px) {
  /* line 14, ../sass/layout/_footer.scss */
  .footer-address {
    width: 43.03797%;
    float: left;
    margin-right: 1.26582%;
  }
}
@media (min-width: 769px) {
  /* line 14, ../sass/layout/_footer.scss */
  .footer-address {
    width: 30.37975%;
    float: left;
    margin-right: 1.26582%;
  }
}
/* line 31, ../sass/layout/_footer.scss */
.footer-address strong {
  font-weight: 600;
  color: #660066;
}
/* line 36, ../sass/layout/_footer.scss */
.footer-address .address {
  margin-bottom: 1.5em;
  color: #330033;
}
/* line 41, ../sass/layout/_footer.scss */
.footer-address .logo-copy {
  color: #999;
  font-style: italic;
}
/* line 46, ../sass/layout/_footer.scss */
.footer-address a {
  color: #bd5427;
  text-decoration: none;
}

/* 3 columm menu in footer. */
/* line 53, ../sass/layout/_footer.scss */
.menu-footer {
  font-family: "Merriweather Sans", Helvetica, Arial, sans-serif;
  padding: 2em 0 1em 0;
}
/* line 7, ../sass/utils/_mixins.scss */
.menu-footer:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 481px) {
  /* line 53, ../sass/layout/_footer.scss */
  .menu-footer {
    padding: 0;
    width: 49.36709%;
    float: right;
    margin-right: 0;
    margin-left: 6.32911%;
  }
}
@media (min-width: 769px) {
  /* line 53, ../sass/layout/_footer.scss */
  .menu-footer {
    width: 49.36709%;
    float: left;
    margin-right: 1.26582%;
    margin-left: 0%;
  }
}
/* line 73, ../sass/layout/_footer.scss */
.menu-footer ul li.leaf {
  padding: 0;
}
/* line 77, ../sass/layout/_footer.scss */
.menu-footer ul.menu li {
  margin-bottom: 1em;
}
/* line 81, ../sass/layout/_footer.scss */
.menu-footer a, .menu-footer .active {
  color: #bd5427;
  text-decoration: none;
}
/* line 85, ../sass/layout/_footer.scss */
.menu-footer a:hover, .menu-footer .active:hover {
  text-decoration: underline;
}

/* line 91, ../sass/layout/_footer.scss */
.column-list {
  border-right: solid 1px #999;
  width: 31.03448%;
  float: left;
}
/* line 94, ../sass/layout/_footer.scss */
.column-list:last-child {
  border-right: 0;
}
/* line 66, ../../../../../../usr/local/lib/ruby/gems/2.5.0/gems/susy-2.2.12/sass/susy/language/susy/_gallery.scss */
.column-list:nth-child(3n + 1) {
  margin-left: 0;
  margin-right: -100%;
  clear: both;
  margin-left: 0;
}
/* line 66, ../../../../../../usr/local/lib/ruby/gems/2.5.0/gems/susy-2.2.12/sass/susy/language/susy/_gallery.scss */
.column-list:nth-child(3n + 2) {
  margin-left: 34.48276%;
  margin-right: -100%;
  clear: none;
}
/* line 66, ../../../../../../usr/local/lib/ruby/gems/2.5.0/gems/susy-2.2.12/sass/susy/language/susy/_gallery.scss */
.column-list:nth-child(3n + 3) {
  margin-left: 68.96552%;
  margin-right: -100%;
  clear: none;
}
@media (min-width: 481px) {
  /* line 91, ../sass/layout/_footer.scss */
  .column-list {
    width: 31.03448%;
    float: left;
  }
  /* line 66, ../../../../../../usr/local/lib/ruby/gems/2.5.0/gems/susy-2.2.12/sass/susy/language/susy/_gallery.scss */
  .column-list:nth-child(3n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0;
  }
  /* line 66, ../../../../../../usr/local/lib/ruby/gems/2.5.0/gems/susy-2.2.12/sass/susy/language/susy/_gallery.scss */
  .column-list:nth-child(3n + 2) {
    margin-left: 34.48276%;
    margin-right: -100%;
    clear: none;
  }
  /* line 66, ../../../../../../usr/local/lib/ruby/gems/2.5.0/gems/susy-2.2.12/sass/susy/language/susy/_gallery.scss */
  .column-list:nth-child(3n + 3) {
    margin-left: 68.96552%;
    margin-right: -100%;
    clear: none;
  }
}
@media (min-width: 769px) {
  /* line 91, ../sass/layout/_footer.scss */
  .column-list {
    border: 0;
  }
}

/* line 113, ../sass/layout/_footer.scss */
.footer-copyright {
  clear: both;
  color: #999;
  font-family: "Merriweather", Georgia, Times, "Times New Roman", serif;
  line-height: 1.3em;
  font-style: italic;
}
@media (min-width: 769px) {
  /* line 113, ../sass/layout/_footer.scss */
  .footer-copyright {
    clear: none;
    width: 17.72152%;
    float: right;
    margin-right: 0;
  }
}
/* line 130, ../sass/layout/_footer.scss */
.footer-copyright img {
  display: block;
  margin: 2em auto 0 auto;
}
@media (min-width: 481px) {
  /* line 135, ../sass/layout/_footer.scss */
  .footer-copyright p {
    float: left;
    margin-top: 6px;
  }
  /* line 142, ../sass/layout/_footer.scss */
  .footer-copyright p + p {
    float: none;
  }
}
@media (min-width: 769px) {
  /* line 135, ../sass/layout/_footer.scss */
  .footer-copyright p {
    float: none;
    margin-top: 0;
  }
}

/* line 36, ../sass/utils/_mixins.scss */
.front .read-more a {
  color: #bd5427;
  font-weight: 600;
  text-decoration: none;
  font-size: 14px;
  font-size: 0.875rem;
}
/* line 42, ../sass/utils/_mixins.scss */
.front .read-more a:hover {
  text-decoration: underline;
}
/* line 46, ../sass/utils/_mixins.scss */
.front .read-more a:after {
  content: "\00BB";
  padding-left: .25em;
}

/* line 9, ../sass/pages/_homepage.scss */
.homepage-intro p, .homepage-intro div {
  display: inline;
}

/* line 14, ../sass/pages/_homepage.scss */
.homepage-container {
  padding-top: 1.5em;
}
/* line 7, ../sass/utils/_mixins.scss */
.homepage-container:after {
  content: "";
  display: table;
  clear: both;
}

/* line 21, ../sass/pages/_homepage.scss */
.block-plan-visit h2,
.block-quick-finder h2 {
  padding-bottom: .25em;
}
/* line 25, ../sass/pages/_homepage.scss */
.block-plan-visit a, .block-plan-visit .active,
.block-quick-finder a,
.block-quick-finder .active {
  font-size: 14px;
  font-size: 0.875rem;
  color: #bd5427;
  font-weight: 600;
  text-decoration: none;
}

@media (min-width: 769px) {
  /* line 33, ../sass/pages/_homepage.scss */
  .block-plan-visit {
    width: 45.45455%;
    float: left;
    margin-right: 9.09091%;
  }
}

/* line 40, ../sass/pages/_homepage.scss */
.block-quick-finder {
  padding-top: 2em;
}
@media (min-width: 769px) {
  /* line 40, ../sass/pages/_homepage.scss */
  .block-quick-finder {
    padding-top: 0;
    width: 45.45455%;
    float: right;
    margin-right: 0;
  }
}

/* line 7, ../sass/utils/_mixins.scss */
.page-container:after {
  content: "";
  display: table;
  clear: both;
}

@media (min-width: 769px) {
  /* line 5, ../sass/pages/_node-general.scss */
  .page-primary {
    width: 47.36842%;
    float: left;
    margin-right: 5.26316%;
  }
  /* line 10, ../sass/pages/_node-general.scss */
  .inner-page .page-primary, .page-newsletter-current .page-primary, .node-type-event .page-primary, .node-type-exhibit .page-primary, .node-type-news .page-primary, .node-type-newsletter .page-primary {
    width: 68.42105%;
    float: left;
    margin-right: 5.26316%;
  }
}
/* line 20, ../sass/pages/_node-general.scss */
.page-primary .field-name-field-location {
  margin-bottom: 1em;
}
/* line 24, ../sass/pages/_node-general.scss */
.group-one-column .page-primary {
  width: auto;
  float: none;
  margin-right: 0;
}

/* line 31, ../sass/pages/_node-general.scss */
.field-name-body p:empty {
  margin: 0;
}
/* line 34, ../sass/pages/_node-general.scss */
.field-name-body figure img {
  margin: 0;
}

@media (min-width: 769px) {
  /* line 39, ../sass/pages/_node-general.scss */
  .page-secondary {
    width: 47.36842%;
    float: right;
    margin-right: 0;
  }
  /* line 43, ../sass/pages/_node-general.scss */
  .inner-page .page-secondary, .page-newsletter-current .page-secondary, .node-type-event .page-secondary, .node-type-exhibit .page-secondary, .node-type-news .page-secondary, .node-type-newsletter .page-secondary {
    width: 26.31579%;
    float: right;
    margin-right: 0;
  }
}
/* line 53, ../sass/pages/_node-general.scss */
.page-secondary .field-name-field-image {
  margin-bottom: 1em;
}
/* line 56, ../sass/pages/_node-general.scss */
.page-secondary .field-name-field-image img {
  -moz-box-shadow: 2px 2px 10px #ccc;
  -webkit-box-shadow: 2px 2px 10px #ccc;
  box-shadow: 2px 2px 10px #ccc;
  border: solid 1px #fff;
}
/* line 63, ../sass/pages/_node-general.scss */
.page-secondary .field-name-field-quote p {
  margin-bottom: 0;
}
/* line 68, ../sass/pages/_node-general.scss */
.page-secondary .field-name-field-quote-author {
  margin-bottom: 1em;
}
/* line 72, ../sass/pages/_node-general.scss */
.page-secondary .quote-area {
  margin-bottom: 1em;
}
/* line 76, ../sass/pages/_node-general.scss */
.page-secondary .field-name-field-see-also {
  border-top: solid 5px #d1d7b7;
  padding-top: 1em;
}
/* line 81, ../sass/pages/_node-general.scss */
.page-secondary .field-name-field-see-also .field-label,
.page-secondary .field-name-field-see-also .label-above {
  color: #660066;
  padding: .75em 0 .5em 0;
  font-size: 22px;
  font-size: 1.375rem;
  font-weight: 300;
}
/* line 30, ../sass/utils/_mixins.scss */
.page-secondary .field-name-field-see-also .field-label a,
.page-secondary .field-name-field-see-also .label-above a {
  color: #660066;
}

/* line 89, ../sass/pages/_node-general.scss */
.st_sharethis_custom:before {
  font-family: "FontAwesome";
  content: "\f1e1";
  font-size: 1.5em;
  color: #98a660;
}
/* line 96, ../sass/pages/_node-general.scss */
.st_sharethis_custom:after {
  content: "ShareThis";
  font-weight: bold;
  margin-left: 5px;
  vertical-align: top;
  font-family: "Merriweather Sans", Helvetica, Arial, sans-serif;
}

/* line 105, ../sass/pages/_node-general.scss */
figure.image {
  background-color: transparent;
}
/* line 107, ../sass/pages/_node-general.scss */
figure.image > figcaption {
  padding-left: 0;
  padding-right: 0;
  font-size: small;
}

/* line 1, ../sass/pages/_node-page.scss */
h2 {
  line-height: 2rem;
}

/* line 4, ../sass/pages/_node-page.scss */
.page-content .title {
  line-height: 2.5rem;
}

/* line 7, ../sass/pages/_node-page.scss */
.cke_editable .title {
  line-height: 2.5rem;
}

/* line 2, ../sass/pages/_node-news.scss */
.node-type-news .field-name-field-date {
  color: #660066;
  font-weight: 600;
  margin-right: 5px;
}

/* line 1, ../sass/pages/_node-newsletter.scss */
.newsletter-volume {
  font-style: italic;
}
/* line 4, ../sass/pages/_node-newsletter.scss */
.newsletter-volume .label-inline {
  display: inline;
}

/* line 9, ../sass/pages/_node-newsletter.scss */
.newsletter-date {
  font-style: italic;
}
/* line 12, ../sass/pages/_node-newsletter.scss */
.newsletter-date span {
  margin-left: 5px;
}

/* line 2, ../sass/pages/_node-in-bloom.scss */
.node-in-bloom .field-name-field-date {
  color: #660066;
  font-weight: 600;
  margin-bottom: 1em;
}

/* line 4, ../sass/pages/_plant-search.scss */
.plant-search-form-wrap .form-item {
  max-width: 100%;
}
/* line 7, ../sass/pages/_plant-search.scss */
.plant-search-form-wrap .form-item input {
  max-width: 100%;
}

/* line 13, ../sass/pages/_plant-search.scss */
#plant-search-form,
#memorial-plant-search-form {
  max-width: 100%;
  background-color: #d1d7b7;
  color: #78834c;
  border-color: #78834c;
}
/* line 20, ../sass/pages/_plant-search.scss */
#plant-search-form .form-required,
#memorial-plant-search-form .form-required {
  display: none;
}
/* line 23, ../sass/pages/_plant-search.scss */
#plant-search-form .description,
#memorial-plant-search-form .description {
  font-weight: normal;
}

/* line 29, ../sass/pages/_plant-search.scss */
.plant-search-top-section {
  margin-bottom: 20px;
}

/* line 32, ../sass/pages/_plant-search.scss */
.living-species-table-wrap {
  margin-top: 20px;
  margin-bottom: 20px;
  overflow-x: scroll;
  width: 100%;
  display: inline-block;
}

/* line 46, ../sass/pages/_plant-search.scss */
.page-plant-search #block-system-main .search-term,
.page-memorial-plant-search #block-system-main .search-term {
  color: #660066;
}
/* line 51, ../sass/pages/_plant-search.scss */
.page-plant-search .plant-name,
.page-memorial-plant-search .plant-name {
  font-style: italic;
}

/* line 58, ../sass/pages/_plant-search.scss */
.page-plant-images h1#page-title {
  font-style: italic;
}
/* line 61, ../sass/pages/_plant-search.scss */
.page-plant-images h2 {
  font-style: italic;
}

/* line 68, ../sass/pages/_plant-search.scss */
table.living-collection td, table.living-collection th {
  font-size: .75rem;
  padding: .5rem;
}

/* line 74, ../sass/pages/_plant-search.scss */
span.family-name {
  text-transform: capitalize;
}

/* line 78, ../sass/pages/_plant-search.scss */
span.label {
  font-weight: bold;
}

@media (min-width: 717px) {
  /* line 83, ../sass/pages/_plant-search.scss */
  .plant-search-form-wrap {
    width: 30.43478%;
    float: right;
    margin-right: 0;
  }

  /* line 87, ../sass/pages/_plant-search.scss */
  .plant-search-results,
  .plant-gallery-wrap {
    width: 65.21739%;
    float: left;
    margin-right: 4.34783%;
  }
  /* line 90, ../sass/pages/_plant-search.scss */
  .plant-search-results .galleria,
  .plant-gallery-wrap .galleria {
    width: 100%;
  }

  /* line 94, ../sass/pages/_plant-search.scss */
  .living-species-table-wrap {
    overflow-x: auto;
  }
}
/* line 100, ../sass/pages/_plant-search.scss */
.plant-gallery-wrap .galleria-theme-botanic .galleria-stage .galleria-image {
  background: white;
}
/* line 104, ../sass/pages/_plant-search.scss */
.plant-gallery-wrap .galleria-theme-botanic .galleria-image-nav-left {
  background-image: url(../images/left-arrow.png);
  background-repeat: no-repeat;
}
/* line 109, ../sass/pages/_plant-search.scss */
.plant-gallery-wrap .galleria-theme-botanic .galleria-image-nav-right {
  background-image: url(../images/right-arrow.png);
  background-repeat: no-repeat;
  background-position: 21px 46px;
}

/* line 2, ../sass/pages/_search.scss */
.search-results li.search-result {
  margin-bottom: 3em;
}
/* line 4, ../sass/pages/_search.scss */
.search-results li.search-result .title {
  border-bottom: none;
  margin-bottom: 0;
}
/* line 8, ../sass/pages/_search.scss */
.search-results li.search-result .search-snippet-info {
  padding-left: 0;
}

/* line 7, ../sass/utils/_mixins.scss */
.view-article-list:after {
  content: "";
  display: table;
  clear: both;
}
/* line 5, ../sass/views/_article-list.scss */
.view-article-list .views-row {
  background: url("images/dotted-border.gif") bottom center repeat-x;
  padding-bottom: 1em;
  margin-bottom: 1em;
}
/* line 7, ../sass/utils/_mixins.scss */
.view-article-list .views-row:after {
  content: "";
  display: table;
  clear: both;
}
/* line 12, ../sass/views/_article-list.scss */
.view-article-list .more-link {
  text-align: left;
}
/* line 36, ../sass/utils/_mixins.scss */
.view-article-list .more-link a {
  color: #bd5427;
  font-weight: 600;
  text-decoration: none;
  font-size: 14px;
  font-size: 0.875rem;
}
/* line 42, ../sass/utils/_mixins.scss */
.view-article-list .more-link a:hover {
  text-decoration: underline;
}
/* line 46, ../sass/utils/_mixins.scss */
.view-article-list .more-link a:after {
  content: "\00BB";
  padding-left: .25em;
}

/* line 18, ../sass/views/_article-list.scss */
.article-image {
  display: none;
}
@media (min-width: 481px) {
  /* line 18, ../sass/views/_article-list.scss */
  .article-image {
    display: block;
    width: 15.25424%;
    float: left;
    margin-right: 1.69492%;
  }
}
@media (min-width: 769px) {
  /* line 18, ../sass/views/_article-list.scss */
  .article-image {
    width: 21.05263%;
    float: left;
    margin-right: 5.26316%;
  }
}
/* line 34, ../sass/views/_article-list.scss */
.article-image img {
  max-width: 100%;
  -moz-box-shadow: 2px 2px 10px #ccc;
  -webkit-box-shadow: 2px 2px 10px #ccc;
  box-shadow: 2px 2px 10px #ccc;
  border: solid 1px #fff;
}

@media (min-width: 481px) {
  /* line 41, ../sass/views/_article-list.scss */
  .article-content {
    width: 83.05085%;
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 769px) {
  /* line 41, ../sass/views/_article-list.scss */
  .article-content {
    width: 73.68421%;
    float: right;
    margin-right: 0;
  }
}

/* line 56, ../sass/views/_article-list.scss */
.views-field-field-date {
  margin-bottom: 1em;
}

/* line 60, ../sass/views/_article-list.scss */
.views-field-title {
  color: #660066;
  padding: .75em 0 .5em 0;
  font-size: 22px;
  font-size: 1.375rem;
  font-weight: 300;
  padding-bottom: .25em;
}
/* line 30, ../sass/utils/_mixins.scss */
.views-field-title a {
  color: #660066;
}

/* line 36, ../sass/utils/_mixins.scss */
.views-field-title-1 a {
  color: #bd5427;
  font-weight: 600;
  text-decoration: none;
  font-size: 14px;
  font-size: 0.875rem;
}
/* line 42, ../sass/utils/_mixins.scss */
.views-field-title-1 a:hover {
  text-decoration: underline;
}
/* line 46, ../sass/utils/_mixins.scss */
.views-field-title-1 a:after {
  content: "\00BB";
  padding-left: .25em;
}

/* line 71, ../sass/views/_article-list.scss */
.view-article-list-small .views-field-title {
  font-weight: 600;
  color: #666;
  font-size: 16px;
  font-size: 1rem;
}

/* line 2, ../sass/views/_featured-pages.scss */
.view-featured-pages-block h2 {
  color: #660066;
  padding: .75em 0 .5em 0;
  font-size: 24px;
  font-size: 1.5rem;
}

/* line 7, ../sass/views/_featured-pages.scss */
.view-featured-pages {
  padding-bottom: 1.5em;
}
/* line 7, ../sass/utils/_mixins.scss */
.view-featured-pages:after {
  content: "";
  display: table;
  clear: both;
}
/* line 11, ../sass/views/_featured-pages.scss */
.view-featured-pages .views-row {
  width: 49.25373%;
  float: left;
  margin-bottom: 1.49254%;
  position: relative;
}
/* line 66, ../../../../../../usr/local/lib/ruby/gems/2.5.0/gems/susy-2.2.12/sass/susy/language/susy/_gallery.scss */
.view-featured-pages .views-row:nth-child(2n + 1) {
  margin-left: 0;
  margin-right: -100%;
  clear: both;
  margin-left: 0;
}
/* line 66, ../../../../../../usr/local/lib/ruby/gems/2.5.0/gems/susy-2.2.12/sass/susy/language/susy/_gallery.scss */
.view-featured-pages .views-row:nth-child(2n + 2) {
  margin-left: 50.74627%;
  margin-right: -100%;
  clear: none;
}
@media (min-width: 769px) {
  /* line 11, ../sass/views/_featured-pages.scss */
  .view-featured-pages .views-row {
    width: 22.58065%;
    float: left;
  }
  /* line 66, ../../../../../../usr/local/lib/ruby/gems/2.5.0/gems/susy-2.2.12/sass/susy/language/susy/_gallery.scss */
  .view-featured-pages .views-row:nth-child(4n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0;
  }
  /* line 66, ../../../../../../usr/local/lib/ruby/gems/2.5.0/gems/susy-2.2.12/sass/susy/language/susy/_gallery.scss */
  .view-featured-pages .views-row:nth-child(4n + 2) {
    margin-left: 25.80645%;
    margin-right: -100%;
    clear: none;
  }
  /* line 66, ../../../../../../usr/local/lib/ruby/gems/2.5.0/gems/susy-2.2.12/sass/susy/language/susy/_gallery.scss */
  .view-featured-pages .views-row:nth-child(4n + 3) {
    margin-left: 51.6129%;
    margin-right: -100%;
    clear: none;
  }
  /* line 66, ../../../../../../usr/local/lib/ruby/gems/2.5.0/gems/susy-2.2.12/sass/susy/language/susy/_gallery.scss */
  .view-featured-pages .views-row:nth-child(4n + 4) {
    margin-left: 77.41935%;
    margin-right: -100%;
    clear: none;
  }
}
/* line 25, ../sass/views/_featured-pages.scss */
.view-featured-pages .views-field-field-image img {
  max-width: 100%;
  width: 100%;
  -moz-box-shadow: 2px 2px 10px #ccc;
  -webkit-box-shadow: 2px 2px 10px #ccc;
  box-shadow: 2px 2px 10px #ccc;
  border: solid 1px #fff;
}
/* line 33, ../sass/views/_featured-pages.scss */
.view-featured-pages .views-field-title {
  position: absolute;
  bottom: 0;
  width: 100%;
}
/* line 38, ../sass/views/_featured-pages.scss */
.view-featured-pages .views-field-title a {
  text-align: center;
  color: #fff;
  display: block;
  background: #660066;
  text-decoration: none;
  padding: .5em 0;
  border: solid 1px #fff;
  border-top: 0;
  font-size: 12px;
  font-size: 0.75rem;
  font-family: "Merriweather", Georgia, Times, "Times New Roman", serif;
  -moz-box-shadow: 0px -4px 12px #fff;
  -webkit-box-shadow: 0px -4px 12px #fff;
  box-shadow: 0px -4px 12px #fff;
}
@media (min-width: 380px) {
  /* line 38, ../sass/views/_featured-pages.scss */
  .view-featured-pages .views-field-title a {
    font-size: 14px;
    font-size: 0.875rem;
  }
}
@media (min-width: 850px) {
  /* line 38, ../sass/views/_featured-pages.scss */
  .view-featured-pages .views-field-title a {
    font-size: 16px;
    font-size: 1rem;
  }
}

/* line 1, ../sass/views/_featured-video.scss */
.block-featured-video {
  padding-top: 2em;
  padding-bottom: 2em;
}
@media (min-width: 481px) {
  /* line 1, ../sass/views/_featured-video.scss */
  .block-featured-video {
    width: 65.21739%;
    float: left;
    margin-right: 4.34783%;
  }
}
@media (min-width: 769px) {
  /* line 1, ../sass/views/_featured-video.scss */
  .block-featured-video {
    width: 100%;
    margin: 0;
    padding-top: 0;
  }
}

/* line 3, ../sass/views/_past-newsletters.scss */
.view-past-newsletters .views-field-nothing {
  font-style: italic;
  margin-bottom: 1.5em;
}

/* line 3, ../sass/views/_events-and-exhibits.scss */
.view-events-and-exhibits .views-field-title {
  color: #660066;
  padding: .75em 0 .5em 0;
  font-size: 22px;
  font-size: 1.375rem;
  font-weight: 300;
  padding-top: 0;
}
/* line 30, ../sass/utils/_mixins.scss */
.view-events-and-exhibits .views-field-title a {
  color: #660066;
}
/* line 8, ../sass/views/_events-and-exhibits.scss */
.view-events-and-exhibits .views-field-field-date {
  margin-bottom: 0;
}
/* line 11, ../sass/views/_events-and-exhibits.scss */
.view-events-and-exhibits .views-field-field-date .views-label {
  font-weight: 600;
}
/* line 15, ../sass/views/_events-and-exhibits.scss */
.view-events-and-exhibits .views-field-field-date .field-content {
  display: inline;
}
/* line 20, ../sass/views/_events-and-exhibits.scss */
.view-events-and-exhibits .views-field-field-location {
  margin-bottom: 1em;
}
/* line 23, ../sass/views/_events-and-exhibits.scss */
.view-events-and-exhibits .views-field-field-location .views-label {
  font-weight: 600;
}
/* line 27, ../sass/views/_events-and-exhibits.scss */
.view-events-and-exhibits .views-field-field-location .field-content {
  display: inline;
}

/* line 1, ../sass/layout/_ckeditor.scss */
body.cke_editable {
  background: none;
}

/* line 5, ../sass/layout/_ckeditor.scss */
.image-left {
  float: left;
  padding: 0 20px 20px 0;
  clear: left;
}

/* line 11, ../sass/layout/_ckeditor.scss */
.image-right {
  float: right;
  padding: 0 0 20px 20px;
  clear: right;
}

/* line 17, ../sass/layout/_ckeditor.scss */
.image-just-padding {
  padding: 20px;
  display: inline-block;
}

/* line 22, ../sass/layout/_ckeditor.scss */
.heading-top {
  margin-top: -18px;
}

/* line 26, ../sass/layout/_ckeditor.scss */
.cke_editable_themed .heading-top {
  /* Don't apply the negative margin inside the CKEditor widget, it messes
   * up the display
   */
  margin-top: 0;
}

/*# sourceMappingURL=style.css.map */
